# Importing necessary packages

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = 'ticks', color_codes = True)
import warnings
warnings.filterwarnings('ignore')

# Importing the dataset

In [42]:
data = pd.read_csv(r'C:\Users\lenovo\Desktop\Marketing Campaign\Dataset\bank-additional-full.csv')

# Preliminary Data-analysis

In [43]:
data.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [44]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [45]:
for column in data.columns:
    if type(data[column][0]) == str:
        print(column, '\n', pd.value_counts(data[column]))

job
 admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64
marital
 married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64
education
 university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64
default
 no         32588
unknown     8597
yes            3
Name: default, dtype: int64
housing
 yes        21576
no         18622
unknown      990
Name: housing, dtype: int64
loan
 no         33950
yes         6248
unknown      990
Name: loan, dtype: int64
contact
 cellular     26144
telephone    15044
Name: contact, dtype: int64
month
 may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64
day_of_week
 thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64
poutcome
 nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64
y
 no     36548
yes     4640
Name: y, dtype: int64

#### General attributes
age - Age of the client (numerical)

job : Type of job (categorical)("admin.","unknown","unemployed","management","housemaid","entrepreneur","student","blue-collar","self-employed","retired","technician","services")

marital : Marital status (categorical)("married","divorced","single"; note: "divorced" means divorced or widowed)

education (categorical)("unknown","secondary","primary","tertiary")

default: Has credit in default? (categorical)("yes","no")

balance: Average yearly balance, in euros (numeric) 

housing: Has housing loan? (categorical)("yes","no")

loan: Has personal loan? (categorical)("yes","no")
#### Related with the last contact of the current campaign:
contact: Contact communication type (categorical)("unknown","telephone","cellular") 

day: Last contact day of the month (numeric)

month: Last contact month of year (categorical)("jan", "feb", "mar", ..., "nov", "dec")

duration: Last contact duration, in seconds (numeric)
#### Other attributes:
campaign: Number of contacts performed during this campaign and for this client (numeric, includes last contact)

pdays: Number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

previous: Number of contacts performed before this campaign and for this client (numeric)

poutcome: Outcome of the previous marketing campaign (categorical)("unknown","other","failure","success")
#### Social and economic context attributes
emp.var.rate: employment variation rate - quarterly indicator (numeric)
  
cons.price.idx: consumer price index - monthly indicator (numeric)

cons.conf.idx: consumer confidence index - monthly indicator (numeric) 

euribor3m: euribor 3 month rate - daily indicator (numeric)

\nr.employed: number of employees - quarterly indicator (numeric)

# Data cleansing

In [46]:
data['job'] = data['job'].replace('unknown', np.NaN)
data['education'] = data['education'].replace('unknown', np.NaN)
data['pdays'] = data['pdays'].replace(-1, 0)

In [47]:
data.isnull().sum()

age                  0
job                330
marital              0
education         1731
default              0
housing              0
loan                 0
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [48]:
data.shape

(41188, 21)

In [49]:
data = data.dropna()

In [50]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [51]:
data.shape

(39258, 21)

In [52]:
data = pd.get_dummies(data, drop_first = True)

In [53]:
data.shape

(39258, 52)

In [54]:
data.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'marital_unknown', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'default_unknown', 'default_yes', 'housing_unknown', 'housing_yes',
       'loan_unknown', 'loan_yes', 'contact_telephone', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'day_of_week_mon',
       'day_of_week_thu', 'day_of_week_tue', 'day_of_week_wed',
       'poutcome_nonexistent', 'poutcome_success', 'y_yes'],
      dtype='object')

# F-regression

In [55]:
features = data.drop(['y_yes'], axis = 1)
outcome = data['y_yes']

In [56]:
from sklearn.feature_selection import f_regression
f_reg = f_regression(features, outcome)

In [57]:
reg_summary = pd.DataFrame(data = features.columns.values, columns = ['Features'])
reg_summary['Co-eficient'] = f_reg[0]
reg_summary['p-value'] = f_reg[1].round(3)
reg_summary

                         Features  Co-eficient  p-value
0                             age    36.427670    0.000
1                        duration  7760.336679    0.000
2                        campaign   172.212464    0.000
3                           pdays  4507.623455    0.000
4                        previous  2049.109422    0.000
5                    emp.var.rate  3693.370352    0.000
6                  cons.price.idx   719.549523    0.000
7                   cons.conf.idx   106.862247    0.000
8                       euribor3m  3941.066841    0.000
9                     nr.employed  5461.470171    0.000
10                job_blue-collar   198.660189    0.000
11               job_entrepreneur     9.549894    0.002
12                  job_housemaid     1.540752    0.215
13                 job_management     0.053836    0.817
14                    job_retired   318.654999    0.000
15              job_self-employed     0.471733    0.492
16                   job_services    42.994154    0.000
17                    job_student   275.693592    0.000
18                 job_technician     0.885056    0.347
19                 job_unemployed     8.331864    0.004
20                marital_married    63.681891    0.000
21                 marital_single    98.024116    0.000
22                marital_unknown     0.360171    0.548
23             education_basic.6y    20.370198    0.000
24             education_basic.9y    77.428549    0.000
25          education_high.school     0.936133    0.333
26           education_illiterate     2.240681    0.134
27  education_professional.course     0.312868    0.576
28    education_university.degree   116.173119    0.000
29                default_unknown   365.626997    0.000
30                    default_yes     0.375690    0.540
31                housing_unknown     0.125804    0.723
32                    housing_yes     3.828106    0.050
33                   loan_unknown     0.125804    0.723
34                       loan_yes     1.255227    0.263
35              contact_telephone   815.060298    0.000
36                      month_aug     4.043260    0.044
37                      month_dec   230.667928    0.000
38                      month_jul    37.733464    0.000
39                      month_jun     2.992673    0.084
40                      month_mar   836.480906    0.000
41                      month_may   442.266904    0.000
42                      month_nov     7.625307    0.006
43                      month_oct   824.641648    0.000
44                      month_sep   621.739181    0.000
45                day_of_week_mon    15.701258    0.000
46                day_of_week_thu     9.199420    0.002
47                day_of_week_tue     2.369943    0.124
48                day_of_week_wed     0.762972    0.382
49           poutcome_nonexistent  1409.973262    0.000
50               poutcome_success  4251.012444    0.000

# Train and Test split

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train, x_test, y_train, y_test =train_test_split(features, outcome, test_size = 0.2, random_state = 42)

In [60]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((31406, 51), (7852, 51), (31406,), (7852,))

# Decision Tree Classifier

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
dtc = DecisionTreeClassifier(random_state = 42)
dtc.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [63]:
from sklearn.metrics import accuracy_score
print('Accuracy score for train data set is ', accuracy_score(y_train, dtc.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, dtc.predict(x_test.round())))

Accuracy score for train data set is  0.9073107049608355
Accuracy score for test data set is  0.8576158940397351

## Hyper-parameter tuning

In [64]:
from pprint import pprint
print('Paramters that are currently in use:','\n')
pprint(dtc.get_params())

Paramters that are currently in use:

{'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 42,
 'splitter': 'best'}

In [65]:
criterion = ['gini', 'entropy']
presort = [True,False]
splitter = ['best','random']
random_grid = {'criterion' : criterion,
               'presort' : presort,
               'splitter' : splitter}
pprint(random_grid)

{'criterion': ['gini', 'entropy'],
 'presort': [True, False],
 'splitter': ['best', 'random']}

In [66]:
from sklearn.model_selection import RandomizedSearchCV
dtc_tuned = RandomizedSearchCV(estimator = dtc, param_distributions = random_grid, \
                              n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
dtc_tuned.fit(x_train, y_train)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   15.2s finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=DecisionTreeClassifier(class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features=None,
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    presort=False,
                                                    random_state=42,
                                                    splitter='best'),
                   iid='warn', n_iter=100, n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'presort': [True, False],
                                        'splitter': ['best', 'random']},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [67]:
dtc_tuned.best_params_

{'splitter': 'best', 'presort': True, 'criterion': 'entropy'}

In [68]:
print('Accuracy score for train data set is ', accuracy_score(y_train, dtc_tuned.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, dtc_tuned.predict(x_test.round())))
print('Percentage increase in accuracy ', ((accuracy_score(y_test, dtc_tuned.predict(x_test.round())) - \
      accuracy_score(y_test, dtc.predict(x_test.round()))) / (accuracy_score(y_test, dtc.predict(x_test.round())))) * 100, '%')

Accuracy score for train data set is  0.9349168948608546
Accuracy score for test data set is  0.8821956189505858
Percentage increase in accuracy  2.8660528660528612 %

# Random Forest Classifier

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [70]:
rfc = RandomForestClassifier(random_state = 42)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [71]:
print('Accuracy score on train data-set is ', accuracy_score(y_train, rfc.predict(x_train).round()))
print('Accuracy score on train data-set is ', accuracy_score(y_test, rfc.predict(x_test).round()))

Accuracy score on train data-set is  0.993058651213144
Accuracy score on train data-set is  0.9130157921548651

## Hyper-parameter tuning

In [72]:
from pprint import pprint 
print("Paremters that are currently in use for Random-Forest-Classifier","\n")
pprint(rfc.get_params())

Paremters that are currently in use for Random-Forest-Classifier

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [73]:
bootstrap = [True, False]
criterion = ['entropy', 'gini']
n_estimators = [i for i in range(5, 101, 5)]
max_features = ['auto','sqrt','log2']
warm_start = [True, False]
random_grid = {'bootstrap' : bootstrap,
               'criterion' : criterion,
               'n_estimators' : n_estimators, 
               'max_features' : max_features,
               'warm_start' : warm_start}

In [74]:
from sklearn.model_selection import RandomizedSearchCV
rfc_tuned = RandomizedSearchCV(estimator = rfc,param_distributions = random_grid, \
                              n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rfc_tuned.fit(x_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   42.2s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  6.0min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=10,
                                                    n_jobs=None,
                                                    oob_score=...
                   iid='warn', n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['entropy', 'gini'],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [5, 10, 15, 20, 25, 30,
                                                         35, 40, 45, 50, 55, 60,
                                                         65, 70, 75, 80, 85, 90,
                                                         95, 100],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [75]:
rfc_tuned.best_params_

{'warm_start': False,
 'n_estimators': 90,
 'max_features': 'auto',
 'criterion': 'gini',
 'bootstrap': True}

In [76]:
print('Accuracy score for train data set is ', accuracy_score(y_train, rfc_tuned.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, rfc_tuned.predict(x_test.round())))
print('Percentage increase in accuracy ', ((accuracy_score(y_test, rfc_tuned.predict(x_test.round())) - \
      accuracy_score(y_test, rfc.predict(x_test.round()))) / (accuracy_score(y_test, rfc.predict(x_test.round())))) * 100, '%')

Accuracy score for train data set is  0.9724893332484239
Accuracy score for test data set is  0.9107233825776873
Percentage increase in accuracy  0.5483689538807739 %

# Naives Bayes theorem

In [77]:
from sklearn.naive_bayes import GaussianNB

In [78]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [79]:
print('Accuracy score on train data-set is ', accuracy_score(y_train, gnb.predict(x_train).round()))
print('Accuracy score on train data-set is ', accuracy_score(y_test, gnb.predict(x_test).round()))

Accuracy score on train data-set is  0.8744507418964529
Accuracy score on train data-set is  0.8774834437086093