# Importing necessary packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = 'ticks', color_codes = True)
import warnings
warnings.filterwarnings('ignore')

C:\Users\lenovo\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Importing the dataset

In [2]:
data = pd.read_csv(r'C:\Users\lenovo\Desktop\Marketing Campaign\Dataset\bank-full.csv')

# Preliminary Data-analysis

In [3]:
data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [4]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [5]:
for column in data.columns:
    if type(data[column][0]) == str:
        print(column, '\n', pd.value_counts(data[column]))

job
 blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
marital
 married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
education
 secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
default
 no     44396
yes      815
Name: default, dtype: int64
housing
 yes    25130
no     20081
Name: housing, dtype: int64
loan
 no     37967
yes     7244
Name: loan, dtype: int64
contact
 cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
month
 may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
poutcome
 unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
y
 no     39922
yes     5289
Name: y, dtype: int64

#### General attributes
age - Age of the client (numerical)

job : Type of job (categorical)("admin.","unknown","unemployed","management","housemaid","entrepreneur","student","blue-collar","self-employed","retired","technician","services")

marital : Marital status (categorical)("married","divorced","single"; note: "divorced" means divorced or widowed)

education (categorical)("unknown","secondary","primary","tertiary")

default: Has credit in default? (categorical)("yes","no")

balance: Average yearly balance, in euros (numeric) 

housing: Has housing loan? (categorical)("yes","no")

loan: Has personal loan? (categorical)("yes","no")
#### Related with the last contact of the current campaign:
contact: Contact communication type (categorical)("unknown","telephone","cellular") 

day: Last contact day of the month (numeric)

month: Last contact month of year (categorical)("jan", "feb", "mar", ..., "nov", "dec")

duration: Last contact duration, in seconds (numeric)
#### Other attributes:
campaign: Number of contacts performed during this campaign and for this client (numeric, includes last contact)

pdays: Number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

previous: Number of contacts performed before this campaign and for this client (numeric)

poutcome: Outcome of the previous marketing campaign (categorical)("unknown","other","failure","success")

# Data cleansing

In [6]:
data['job'] = data['job'].replace('unknown', np.NaN)
data['education'] = data['education'].replace('unknown', np.NaN)
data['pdays'] = data['pdays'].replace(-1, 0)

In [7]:
data.isnull().sum()

age             0
job           288
marital         0
education    1857
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
duration        0
campaign        0
pdays           0
previous        0
poutcome        0
y               0
dtype: int64

In [8]:
data.shape

(45211, 17)

In [9]:
data = data.dropna()

In [10]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
data.shape

(43193, 17)

In [12]:
data = pd.get_dummies(data, drop_first = True)

In [13]:
data.shape

(43193, 41)

In [14]:
data.columns

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'education_secondary', 'education_tertiary',
       'default_yes', 'housing_yes', 'loan_yes', 'contact_telephone',
       'contact_unknown', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown', 'y_yes'],
      dtype='object')

# F-regression

In [16]:
features = data.drop(['y_yes'], axis = 1)
outcome = data['y_yes']

In [17]:
from sklearn.feature_selection import f_regression
f_reg = f_regression(features, outcome)

In [18]:
reg_summary = pd.DataFrame(data = features.columns.values, columns = ['Features'])
reg_summary['Co-eficient'] = f_reg[0]
reg_summary['p-value'] = f_reg[1].round(3)
reg_summary

               Features  Co-eficient  p-value
0                   age    26.495399    0.000
1               balance   114.349702    0.000
2                   day    39.551272    0.000
3              duration  8099.917822    0.000
4              campaign   228.000628    0.000
5                 pdays   446.494017    0.000
6              previous   366.787317    0.000
7       job_blue-collar   218.664408    0.000
8      job_entrepreneur    16.452297    0.000
9         job_housemaid     9.636802    0.002
10       job_management    44.362520    0.000
11          job_retired   269.083387    0.000
12    job_self-employed     0.058268    0.809
13         job_services    35.740174    0.000
14          job_student   237.528124    0.000
15       job_technician     2.301719    0.129
16       job_unemployed    19.613491    0.000
17      marital_married   160.934378    0.000
18       marital_single   178.105319    0.000
19  education_secondary    55.738571    0.000
20   education_tertiary   215.883618    0.000
21          default_yes    23.347074    0.000
22          housing_yes   842.219174    0.000
23             loan_yes   205.427640    0.000
24    contact_telephone     5.228728    0.022
25      contact_unknown   958.313218    0.000
26            month_aug     3.429681    0.064
27            month_dec   239.196496    0.000
28            month_feb    62.401136    0.000
29            month_jan     3.427716    0.064
30            month_jul    57.311463    0.000
31            month_jun     6.905454    0.009
32            month_mar   798.064043    0.000
33            month_may   447.221228    0.000
34            month_nov     8.915356    0.003
35            month_oct   684.423068    0.000
36            month_sep   673.138968    0.000
37       poutcome_other    43.132628    0.000
38     poutcome_success  4397.974589    0.000
39     poutcome_unknown  1193.280769    0.000

# Train and Test split

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test =train_test_split(features, outcome, test_size = 0.2, random_state = 42)

In [21]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((34554, 40), (8639, 40), (34554,), (8639,))

# Decision Tree Classifier

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dtc = DecisionTreeClassifier(random_state = 42)
dtc.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [24]:
from sklearn.metrics import accuracy_score
print('Accuracy score for train data set is ', accuracy_score(y_train, dtc.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, dtc.predict(x_test.round())))

Accuracy score for train data set is  1.0
Accuracy score for test data set is  0.8783424007408265

## Hyper-parameter tuning

In [25]:
from pprint import pprint
print('Paramters that are currently in use:','\n')
pprint(dtc.get_params())

Paramters that are currently in use:

{'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 42,
 'splitter': 'best'}

In [26]:
criterion = ['gini', 'entropy']
presort = [True,False]
splitter = ['best','random']
random_grid = {'criterion' : criterion,
               'presort' : presort,
               'splitter' : splitter}
pprint(random_grid)

{'criterion': ['gini', 'entropy'],
 'presort': [True, False],
 'splitter': ['best', 'random']}

In [27]:
from sklearn.model_selection import RandomizedSearchCV
dtc_tuned = RandomizedSearchCV(estimator = dtc, param_distributions = random_grid, \
                              n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
dtc_tuned.fit(x_train, y_train)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   14.0s finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=DecisionTreeClassifier(class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features=None,
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    presort=False,
                                                    random_state=42,
                                                    splitter='best'),
                   iid='warn', n_iter=100, n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'presort': [True, False],
                                        'splitter': ['best', 'random']},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [28]:
dtc_tuned.best_params_

{'splitter': 'random', 'presort': True, 'criterion': 'entropy'}

In [29]:
print('Accuracy score for train data set is ', accuracy_score(y_train, dtc_tuned.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, dtc_tuned.predict(x_test.round())))
print('Percentage increase in accuracy ', ((accuracy_score(y_test, dtc_tuned.predict(x_test.round())) - \
      accuracy_score(y_test, dtc.predict(x_test.round()))) / (accuracy_score(y_test, dtc.predict(x_test.round())))) * 100, '%')

Accuracy score for train data set is  1.0
Accuracy score for test data set is  0.8793841879847204
Percentage increase in accuracy  0.1186083289404268 %

# Random Forest Classifier

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rfc = RandomForestClassifier(random_state = 42)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [32]:
print('Accuracy score on train data-set is ', accuracy_score(y_train, rfc.predict(x_train).round()))
print('Accuracy score on train data-set is ', accuracy_score(y_test, rfc.predict(x_test).round()))

Accuracy score on train data-set is  0.9921572032181513
Accuracy score on train data-set is  0.9071651811552263

## Hyper-parameter tuning

In [33]:
from pprint import pprint 
print("Paremters that are currently in use for Random-Forest-Classifier","\n")
pprint(rfc.get_params())

Paremters that are currently in use for Random-Forest-Classifier

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [34]:
bootstrap = [True, False]
criterion = ['entropy', 'gini']
n_estimators = [i for i in range(5, 101, 5)]
max_features = ['auto','sqrt','log2']
warm_start = [True, False]
random_grid = {'bootstrap' : bootstrap,
               'criterion' : criterion,
               'n_estimators' : n_estimators, 
               'max_features' : max_features,
               'warm_start' : warm_start}

In [35]:
from sklearn.model_selection import RandomizedSearchCV
rfc_tuned = RandomizedSearchCV(estimator = rfc,param_distributions = random_grid, \
                              n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rfc_tuned.fit(x_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   48.9s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  6.1min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=10,
                                                    n_jobs=None,
                                                    oob_score=...
                   iid='warn', n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['entropy', 'gini'],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [5, 10, 15, 20, 25, 30,
                                                         35, 40, 45, 50, 55, 60,
                                                         65, 70, 75, 80, 85, 90,
                                                         95, 100],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [36]:
rfc_tuned.best_params_

{'warm_start': False,
 'n_estimators': 95,
 'max_features': 'sqrt',
 'criterion': 'entropy',
 'bootstrap': True}

In [37]:
print('Accuracy score for train data set is ', accuracy_score(y_train, rfc_tuned.predict(x_train.round())))
print('Accuracy score for test data set is ', accuracy_score(y_test, rfc_tuned.predict(x_test.round())))
print('Percentage increase in accuracy ', ((accuracy_score(y_test, rfc_tuned.predict(x_test.round())) - \
      accuracy_score(y_test, rfc.predict(x_test.round()))) / (accuracy_score(y_test, rfc.predict(x_test.round())))) * 100, '%')

Accuracy score for train data set is  0.9999710597904728
Accuracy score for test data set is  0.908669984951962
Percentage increase in accuracy  0.16587980094424484 %

# Naives Bayes theorem

In [38]:
from sklearn.naive_bayes import GaussianNB

In [39]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [40]:
print('Accuracy score on train data-set is ', accuracy_score(y_train, gnb.predict(x_train).round()))
print('Accuracy score on train data-set is ', accuracy_score(y_test, gnb.predict(x_test).round()))

Accuracy score on train data-set is  0.8618973201365978
Accuracy score on train data-set is  0.8612107882856812